<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="domain.teamgroupley.groupleyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntrestSelection" />
        <activity android:name=".createLoginatstart" />
        <activity android:name=".descrpition1" />
        <activity android:name=".descrpition2" />
        <activity android:name=".join" />
        <activity android:name=".MenuPage" />
        <activity android:name=".navigation_Content" />
        <activity android:name=".Home" />
        <activity android:name=".Registered_Events" />
        <activity android:name=".Create_Event" />
        <activity android:name=".Profile" />
        <activity android:name=".Settings" />
        <activity android:name=".Create_Interest"></activity>
    </application>

</manifest>